<nav id="sidebar" th:fragment="sidebar">
	<div class="sidebar-header">
		<h3>Gwak's Board</h3>
	</div>
	<ul class="list-unstyled components">
		<p>Dummy Heading</p>
		<li><a th:href="@{/}">Home</a>
			<!-- <ul class="collapse list-unstyled" id="homeSubmenu">
				<li><a href="#">Home 1</a></li>
				<li><a href="#">Home 2</a></li>
				<li><a href="#">Home 3</a></li>
			</ul></li> -->
		<li><a href="#">About</a> <a href="#pageSubmenu"
			data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
			<ul class="collapse list-unstyled" id="pageSubmenu">
				<li><a href="#">FreeBoard</a></li>
				<li><a href="#">MemberBoard</a></li>
				<li><a href="#">AdminBoard</a></li>
			</ul></li>
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">Contact</a></li>
	</ul>

	<ul class="list-unstyled CTAs">
		<li><a href="#" class="download">Download source</a></li>
		<li><a href="#" class="article">Back to article</a></li>
	</ul>
</nav>